@model StationeryManagementSystem.Models.ViewModels.EmployeeViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add new Employee</h3>
                    </div>

                    <form asp-action="Create" asp-controller="Employee" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Name Employee</label>
                                <input type="text" asp-for="NameEmployee" class="form-control" id="exampleInputEmail1" placeholder="Enter name employee">
                                <span asp-validation-for="NameEmployee" class="text-danger"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Department name</label>
                                        <select class="form-control" asp-for="Iddepartment">
                                            <option value="">---------------------- Choose a department ----------------------</option>
                                            @foreach (var department in ViewBag.listDepartment)
                                            {
                                                <option value="@department.Iddepartment">@department.NameDepartment</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Iddepartment" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Email Id</label>
                                        <input type="text" asp-for="EmailId" class="form-control" id="exampleInputEmail1" placeholder="Enter email Id">
                                        <span asp-validation-for="EmailId" class="text-danger"></span>
                                        <b class="text-danger">@ViewBag.checkEmail</b>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Position</label>
                                        <select class="form-control" asp-for="Idrole">
                                            <option value="">---------------------- Choose a position ----------------------</option>
                                            @foreach (var role in ViewBag.listRole)
                                            {
                                                <option value="@role.Idrole">@role.RoleName</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Idrole" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> Password Account</label>
                                        <input type="password" asp-for="Password" class="form-control" id="exampleInputEmail1" placeholder="Enter password account">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Adress</label>
                                <input type="text" asp-for="Adress" class="form-control" id="exampleInputEmail1" placeholder="Enter adress">
                                <span asp-validation-for="Adress" class="text-danger"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1"> BirthDay</label>
                                    <input type="date" asp-for="BirthDay" class="form-control">
                                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1"> Registration Number</label>
                                    <input type="text" asp-for="RegistrationNumber" value="@HttpContextAccessor.HttpContext.Session.GetInt32("idAccount")" class="form-control" id="exampleInputEmail1" readonly>
                                    @*<input type="text" asp-for="RegistrationNumber" class="form-control" value="1" readonly>*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Sex</label>
                                        <br>
                                        <input type="radio" asp-for="Sex" value="1" checked>Male
                                        <input type="radio" asp-for="Sex" value="0">Female
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Status</label>
                                        <br>
                                        <input type="radio" asp-for="Status" value="1" checked>Active
                                        <input type="radio" asp-for="Status" value="0">Lock
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>

                            <a asp-controller="Employee" asp-action="Index" class="btn btn-primary float-right">Go to list</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>