@model X.PagedList.IPagedList<StationeryManagementSystem.Models.Employees>
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Employee List</h3>
                        <div class="card-tools">
                            <form asp-action="Index" asp-controller="Employee" method="GET">
                                <div class="input-group input-group-sm" style="width: 350px;">
                                    <input type="text" name="Search" class="form-control float-right" placeholder="Enter name employee">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-body">
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("roleId") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("roleId") == 2)
                        {
                            <a class="btn btn-primary" asp-action="Create" asp-controller="Employee">Add new Employee </a>
                        }
                        @if (TempData["success"] != null)
                        {
                            <div class="alert alert-success" role="alert" style="margin-top:20px">
                                @Html.Raw(TempData["success"])
                            </div>
                        }
                        @if (TempData["eror"] != null)
                        {
                            <div class="alert alert-danger" role="alert" style="margin-top:20px">
                                @Html.Raw(TempData["eror"])
                            </div>
                        }
                        <table class="table table-bordered" style="margin-top: 20px">
                            <thead>
                                <tr>
                                    <th>ID Employee</th>
                                    <th>Name Employee</th>
                                    <th>EmailId</th>
                                    <th>BirthDay</th>
                                    <th>Department Name</th>
                                    <th>Sex</th>
                                    <th>Status</th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in Model)
                                {
                                    <tr>
                                        <td>@employee.Idemployee</td>
                                        <td>@employee.NameEmployee</td>
                                        <td>@employee.EmailId</td>
                                        <td>@String.Format("{0:yyyy/MM/dd}", employee.BirthDay)</td>
                                        <td>@employee.IddepartmentNavigation.NameDepartment</td>
                                        <td>
                                            @if (employee.Sex == 1)
                                            {
                                                <p>Male</p>
                                            }
                                            else
                                            {
                                                <p>Female</p>
                                            }
                                        </td>
                                        <td>
                                            @if (employee.Status == 1)
                                            {
                                                <span class="badge bg-success">Active</span>
                                            }
                                            else
                                            {

                                                <span class="badge bg-danger">Lock</span>
                                            }
                                        </td>
                                        <td>
                                            <a style="color: green" asp-action="Edit" asp-controller="Employee" asp-route-id="@employee.Idemployee" title="Update information"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a style="color: blue;padding-left: 10px" asp-action="Detail" asp-controller="Employee" asp-route-id="@employee.Idemployee" title="Profile Employee"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("roleId") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("roleId") == 2)
                                            {
                                                <a style="color: red;padding-left: 10px" asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.Idemployee" title="Delete Employee"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                             new PagedListRenderOptions
                                {
                                    LiElementClasses = new string[] { "page-item" },
                                    PageClasses = new string[] { "page-link" }
                                }
                            )
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

